#main_promo {
	height: 300px;
	width: 1200px;
	margin-left: -585px;
	position: relative;
	top: 0;
	left: 50%;
	overflow: hidden;
	z-index: -1;
}

.promoWD {
	width: 1200px;
	margin: 0 auto;
	position: relative
}

.slide {
	display: block;
	float: left;
	width: 1200px
}

.slide img {
	width: 1200px;
	height: 375px;
}

#dots {
	height: 13px;
	position: absolute;
	bottom: 13px;
	left: 515px;
	z-index: 99
}

#dots li {
	width: 23px;
	height: 13px;
	float: left;
	list-style: none
}

#dots li a {
	width: 10px;
	display: block;
	height: 10px;
	background-color: #0082c6;
	border: 1px solid #fff
}

#dots li.act a {
	background-color: #e0f2be
}